@charset "utf-8";
/* CSS Document */

/*Empresa*/
#empresa p{
	margin-bottom: 10px;
}
#empresa ul li{
	font-family: Arial, "sans-serif";
	font-weight: normal;
	font-style: normal;
	font-size: 1em;
	line-height: 150%;
	color: #9B9B9B;
	margin-bottom: 5px;
}

